<%= render 'layouts/error_messages', obj: provider %>

<%= form_with model: provider do |f| %>
  <div class="field">
    <%= f.label :name, class: 'label' %>
    <div id="provider-name-field" class="control">
      <%= f.text_field :name, class: 'input', maxlength: 100 %>
    </div>
  </div>

  <br>

  <h2 class="subtitle is-5">Loans</h2>

  <%= f.fields_for :loans do |loan| %>
    <%= render 'loan_fields', f: loan %>
  <% end %>

  <div class='buttons'>
    <%= link_to_add_association f, :loans, class: 'button is-link' do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <%= f.submit 'Save', class: 'button is-primary' %>
    <%= link_to 'Back', providers_path, class: 'button is-text' %>
  </div>
<% end %>
