<%= form_with(model: provider, local: true) do |f| %>
  <% if provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
        <% provider.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: 'label' %>
    <div class="control">
    <%= f.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="columns">
    <span class="column is-2">Name</span>
    <span class="column is-2">Principle</span>
    <span class="column is-2">Interest</span>
    <span class="column is-2">Payment</span>
    <span class="column is-2"></span>
  </div>
  <%= f.fields_for :loans do |loan| %>
    <%= render 'loan_fields', f: loan %>
  <% end %>

  <div class='buttons'>
    <%= link_to_add_association f, :loans, class: 'button is-link' do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <%= f.submit class: 'button is-primary' %>
  </div>
<% end %>
