<%= render 'layouts/error_messages', obj: provider %>

<%= form_with model: provider do |f| %>
  <div class="field">
    <%= f.label :name, class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="columns">
    <span class="column is-2">Name</span>
    <span class="column is-2">Principle</span>
    <span class="column is-2">Interest</span>
    <span class="column is-2">Payment</span>
    <span class="column is-2"></span>
  </div>
  <%= f.fields_for :loans do |loan| %>
    <%= render 'loan_fields', f: loan %>
  <% end %>

  <div class='buttons'>
    <%= link_to_add_association f, :loans, class: 'button is-link' do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <%= f.submit class: 'button is-primary' %>
  </div>
<% end %>
