<% @providers.each do |provider| %>
  <div class="payoff-container columns is-centered">
    <div class="provider-container column is-three-fifths">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <%= link_to edit_provider_path(provider) do %>
              <h4 class="title is-4"><%= provider.name %></h4>
            <% end %>
            <%= link_to '', class: 'button is-text provider-action-button' do %>
              <i class="fas fa-angle-down"></i>
            <% end %>
            <%= link_to provider, data: { behavior: 'delete' }, class: 'button is-text provider-delete-button' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="chart-container">
        <%= area_chart(provider.chart_payoff_data,
                       {**{ curve: "straight", markers: { size: 0 },
                            noData: { text: 'No Data',
                                      style: { color: 'black',
                                               fontSize: '1.5em',
                                               fontFamily: ['BlinkMacSystemFofnt', '-apple-system', 'Segoe UI',
                                                            'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
                                                            'Droid Sans', 'Helvetica Neue', 'Helvetica',
                                                            'Arial', 'sans-serif'] } },
                            data_labels: { enabled: false }, theme: 'palette6' }}) %>
      </div>
    </div>
    <div class="content column is-one-fifth payoff-info-container">
      <h3>Payoff <%= 'Date'.pluralize(provider.loans.size) %></h3>
      <hr>
      <% provider.chart_payoff_data.each do |payoff_array| %>
        <h6 class="payoff-name-title"><%= payoff_array[:name] %></h6>
        <p class="payoff-date"><%= format_date(payoff_array[:data].last.first) %></p>
      <% end %>
    </div>
  </div>
<% end %>
