<nav class="navbar" id="mountain-navbar" role="navigation">
	<div class="container">
		<div class="navbar-brand">
			<%= link_to root_path, id: 'navbar-logo', class: 'navbar-item' do %>
				<span id="logo-container">
					<i class="fas fa-mountain"></i>
					Mountain
				</span>
			<% end %>
			<a role="button" class="navbar-burger burger">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div class="navbar-menu">
			<div class="navbar-start">
				<% if signed_in? %>
					<span class="navbar-item">
						<%= link_to root_path, class: 'button is-secondary' do %>
							<i class="fas fa-chart-area"></i>
							<p>Home</p>
						<% end %>
					</span>
					<span class="navbar-item">
					<%= link_to new_provider_path, class: 'button is-primary' do %>
						<i class="fas fa-plus"></i>
							<p>New</p>
					<% end %>
					</span>
				<% end %>
			</div>
			<div class="navbar-end">
				<% if signed_in? %>
					<div class="navbar-item">
						<%= button_to sign_out_path, method: :delete, class: 'button is-light' do %>
							<i class="fas fa-sign-out-alt"></i>
							<p>Sign Out</p>
						<% end %>
					</div>
				<% else %>
					<div class="navbar-item">
						<%= link_to sign_up_path, class: 'button is-primary' do %>
							<i class="fas fa-user-plus"></i>
							<p>Sign Up</p>
						<% end %>
					</div>
					<div class="navbar-item">
						<%= link_to 'Login', sign_in_path, class: 'button is-light' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</nav>
