<!DOCTYPE html>
<html>
  <head>
    <title>Mountain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% unless signed_out_or_intro? %>
      <%= render 'layouts/navbar' %>
      <div id="main-container" class="container">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>
